---
import '@styles/global.css';

import PostSummary from '@components/layout/post-summary.astro';
import { createLog } from '@helpers/log';
import {
  getPostsSummary,
  getPublishedPosts,
  sortPostsByDate
} from '@helpers/posts';
import Layout from '@layouts/three-body.astro';

// const log = createLog('pages/posts');

// log.debug('building posts');

const posts = await getPublishedPosts();

const sortedPosts = sortPostsByDate(posts);

// const tags = getPostsTags(posts);

const summaries = getPostsSummary(sortedPosts);

// log.debug('tags', tags);
---

<Layout>
  <section>
    <ul>
      {
        summaries.map(summary => (
          <li>
            <PostSummary summary={summary} />
          </li>
        ))
      }
    </ul>
  </section>
</Layout>
