---
import '@styles/global.css';

import { Image } from 'astro:assets';
import { getCollection } from 'astro:content';

import FormattedDate from '@components/layout/formatted-date.astro';
import { createLog } from '@helpers/log';
import {
  getPostsSummary,
  getPostsTags,
  getPublishedPosts,
  sortPostsByDate
} from '@helpers/posts';
import Layout from '@layouts/three-body.astro';

const log = createLog('pages/posts');

log.debug('building posts');

const posts = await getPublishedPosts();

const sortedPosts = sortPostsByDate(posts);

const tags = getPostsTags(posts);

const summaries = getPostsSummary(sortedPosts);

log.debug('tags', tags);
---

<Layout>
  <section>
    <ul>
      {
        summaries.map(summary => (
          <li>
            <a href={summary.href}>
              <Image
                width={720}
                height={360}
                src={summary.heroImage}
                alt=""
                fit="cover"
              />
              <h4 class="title font-['Nohemi']">{summary.title}</h4>
              <p class="date">
                <FormattedDate date={summary.pubDate} />
              </p>
            </a>
          </li>
        ))
      }
    </ul>
  </section>
</Layout>
