---
import '@styles/global.css';

import Note from '@components/layout/note.astro';
import PostSummary from '@components/layout/post-summary.astro';
import { toShortDate } from '@helpers/date';
import { createLog } from '@helpers/log';
import {
  getPaginatedNotes,
  getPostsSummary,
  getPublishedNotes,
  isDateEntry,
  isNoteEntry,
  sortEntriesByDate
} from '@helpers/posts';
import Layout from '@layouts/three-body.astro';

const entries = await getPaginatedNotes();
---

<Layout title="ODGN Blog" description="A collection of posts and notes">
  <section>
    {
      entries.map(entry => {
        if (isDateEntry(entry)) {
          return (
            <div class="date text-lg font-bold mb-4">
              {toShortDate(entry.date)}
            </div>
          );
        }

        if (isNoteEntry(entry)) {
          return <Note note={entry} url={entry.url} />;
        }

        return null;
      })
    }
  </section>
</Layout>
