.prose {

  line-height: 2em;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin     : 0 0 1rem 0;
    color      : var(--header);
    line-height: 1.2;
  }

  h1 {
    font-size: 2.5em;
  }

  h2 {
    font-size: 1.8em;
  }

  h3 {
    font-size: 1.2em;
  }

  h4 {
    font-size: 1.1em;
  }

  h5 {
    font-size: 1.25em;
  }

  strong,
  b {
    font-weight: 700;
  }

  a {
    color          : var(--accent);
    text-decoration: underline;
  }

  a:hover {
    color: var(--accent);
  }

  p {
    margin-bottom: 2em;
  }

  textarea {
    width    : 100%;
    font-size: 16px;
  }

  input {
    font-size: 16px;
  }

  table {
    width: 100%;
  }

  img {
    max-width    : 100%;
    height       : auto;
    border-radius: 8px;
  }

  code {
    padding         : 2px 5px;
    background-color: rgb(var(--gray-light));
    border-radius   : 2px;
  }

  pre {
    padding      : 1.5em;
    border-radius: 8px;
  }

  pre>code {
    all: unset;
  }

  blockquote {
    position  : relative;
    padding   : 0 1.5em 0 1.5em;
    margin    : 2em 0;
    font-style: italic;
  }

  blockquote::before,
  blockquote::after {
    position   : absolute;
    font-size  : 1.5em;
    color      : var(--accent);
    font-family: Georgia, serif;
    line-height: 1;
  }

  blockquote::before {
    content  : '"';
    font-size: 4em;
    left     : -0.2em;
    top      : 0;
  }


  hr {
    border    : none;
    border-top: 1px solid rgb(var(--gray-light));
  }

  /* A little hacky, but remove the margin-top of the first pre tag after a paragraph */
  p+pre {
    margin-top: -2rem;
  }

  iframe {
    margin-bottom: 2rem;
  }
}