@import "tailwindcss";


/* Register your custom font family and tell the browser where to find it. */
@font-face {
  font-family : 'Nohemi';
  src         : url('/fonts/Nohemi-Thin-BF6438cc57e2011.woff') format('woff');
  font-weight : 100;
  font-style  : normal;
  font-display: swap;
}

@font-face {
  font-family : 'Nohemi';
  src         : url('/fonts/Nohemi-ExtraLight-BF6438cc581502c.woff') format('woff');
  font-weight : 200;
  font-style  : normal;
  font-display: swap;
}

@font-face {
  font-family : 'Nohemi';
  src         : url('/fonts/Nohemi-Light-BF6438cc5702321.woff') format('woff');
  font-weight : 300;
  font-style  : normal;
  font-display: swap;
}

@font-face {
  font-family : 'Nohemi';
  src         : url('/fonts/Nohemi-Regular-BF6438cc579d934.woff') format('woff');
  font-weight : 400;
  font-style  : normal;
  font-display: swap;
}

@font-face {
  font-family : 'Nohemi';
  src         : url('/fonts/Nohemi-Medium-BF6438cc57ddecd.woff') format('woff');
  font-weight : 500;
  font-style  : normal;
  font-display: swap;
}

@font-face {
  font-family : 'Nohemi';
  src         : url('/fonts/Nohemi-SemiBold-BF6438cc57db2ff.woff') format('woff');
  font-weight : 600;
  font-style  : normal;
  font-display: swap;
}

@font-face {
  font-family : 'Nohemi';
  src         : url('/fonts/Nohemi-Bold-BF6438cc577b524.woff') format('woff');
  font-weight : 700;
  font-style  : normal;
  font-display: swap;
}

@font-face {
  font-family : 'Nohemi';
  src         : url('/fonts/Nohemi-ExtraBold-BF6438cc5761ae2.woff') format('woff');
  font-weight : 800;
  font-style  : normal;
  font-display: swap;
}

@font-face {
  font-family : 'Nohemi';
  src         : url('/fonts/Nohemi-Black-BF6438cc565e67b.woff') format('woff');
  font-weight : 900;
  font-style  : normal;
  font-display: swap;
}