---
import { Image } from 'astro:assets';

import FormattedDate from '@components/layout/formatted-date.astro';
import type { PostSummary } from '@types';

interface Props {
  summary: PostSummary;
}

const { summary } = Astro.props;
---

<a href={summary.href}>
  <Image width={720} height={360} src={summary.heroImage} alt="" fit="cover" />
  <h4 class="title font-['Nohemi']">{summary.title}</h4>
  <p class="date">
    <FormattedDate date={summary.pubDate} />
  </p>
</a>
