---
import '@styles/global.css';

import { Image } from 'astro:assets';
import { getCollection } from 'astro:content';

import FormattedDate from '@components/layout/formatted-date.astro';
import PostSummary from '@components/layout/post-summary.astro';
import { createLog } from '@helpers/log';
import {
  getPostsSummary,
  getPostsTags,
  getPublishedPosts
} from '@helpers/posts';
import Layout from '@layouts/three-body.astro';

const log = createLog('pages/tags/[...tag]');

export const getStaticPaths = async () => {
  const posts = await getPublishedPosts();

  const tags = getPostsTags(posts);

  return tags.map(tag => ({
    params: { tag },
    props: tag
  }));
};

const posts = await getPublishedPosts();

const postsWithTag = posts.filter(post =>
  post.data.tags?.includes(Astro.params.tag ?? '')
);

const summaries = getPostsSummary(postsWithTag);

// const tags = posts.flatMap(post => post.data.tags);
// const uniqueTags = [...new Set(tags)];

// log.debug('tags', tags);
// log.debug('uniqueTags', uniqueTags);
---

<Layout>
  <main>
    <h1 class="text-4xl text-ring/80 font-['Nohemi'] font-light my-12">
      <a href="/tags" class="hover:underline hover:text-tags">tag</a> : <span
        class="font-medium">{Astro.params.tag}</span
      >
    </h1>
    <section>
      <ul>
        {
          summaries.map(summary => (
            <li>
              <PostSummary summary={summary} />
            </li>
          ))
        }
      </ul>
    </section>
  </main>
</Layout>
