---
import '@styles/global.css';

import { Image } from 'astro:assets';
import { getCollection } from 'astro:content';

import FormattedDate from '@components/layout/formatted-date.astro';
import { createLog } from '@helpers/log';
import Layout from '@layouts/main.astro';

const log = createLog('pages/posts');

const posts = (await getCollection('blog')).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

const tags = posts.flatMap(post => post.data.tags);
const uniqueTags = [...new Set(tags)];

log.debug('tags', tags);
log.debug('uniqueTags', uniqueTags);
---

<style>
  main {
    width: 720px;
    max-width: calc(100% - 2em);
    margin: auto;
    padding: 1em;
    color: rgb(var(--gray-dark));
  }
</style>

<Layout>
  <main>
    <h1>Tags</h1>
    <ul>
      {
        uniqueTags.map(tag => (
          <li>
            <a href={`/tags/${tag}/`}>{tag}</a>
          </li>
        ))
      }
    </ul>
  </main>
</Layout>
