---
import Layout from '@layouts/three-body.astro';

const props = Astro.props;

console.debug('404 props', props, Astro.url);
---

<Layout>
  <div class="flex flex-col items-center justify-center h-220">
    <h1 class="text-4xl font-thin font-['Nohemi'] mb-8">4 0 4</h1>
    <h2 class="text-2xl font-thin font-['Nohemi'] mb-4">
      The page you are looking for does not exist.
    </h2>
    <h3 class="text-lg font-thin font-['Nohemi']">
      {Astro.url.pathname}
    </h3>
  </div>
</Layout>
