---
import { Image } from 'astro:assets';

import Layout from '@layouts/blog-post.astro';

import imageProfile from './img/2023.07.sunset.jpg';
import imageAbout from './img/about.jpg';
---

<Layout
  title="About"
  description="All about the author"
  hideTitle
  pubDate={new Date('May 21 2025')}>
  <div class="grid grid-cols-1 md:grid-cols-3 gap-8 my-8">
    <div class="md:col-span-2">
      <h1 class="text-3xl font-bold mb-6">About</h1>

      <p class="mb-4 text-lg">Hello, I'm Alex.</p>

      <p class="mb-4 text-lg">
        I've been involved professionally with the Web since before CSS, mobile
        app development before the iPhone.
      </p>

      <p class="mb-4 text-lg">
        Currently much of my work would be classed as front end, with a
        particular focus on React.
      </p>

      <p class="mb-4 text-lg">
        My most recent project was <a href='/projects/vo-pads'>VO Pads</a>, an attempt to combine a video player
        and a pad based instrument. You can see some of my past projects <a
          href="/projects">here</a
        >
      </p>

      <p class="mb-4 text-lg">I live in the county of Devon, UK.</p>
    </div>

    <div class="md:sticky md:top-8">
      <Image
        src={imageProfile}
        alt="A picture of me"
        width={400}
        height={400}
        class="rounded-lg shadow-lg w-full h-auto object-cover"
      />
    </div>
  </div>

  <div slot="sidebar-left"></div>
  <div slot="sidebar-right"></div>
</Layout>
