---
import Layout from '@layouts/blog-post.astro';

import imageAbout from './img/about.jpg';
---

<Layout
  title="About"
  description="All about the author"
  pubDate={new Date('May 21 2025')}
  heroImage={imageAbout}>
  <p>Hello, I'm Alex Veenendaal.</p>

  <p></p>

  <h2>About this site</h2>
  <div slot="sidebar-left"></div>
  <div slot="sidebar-right"></div>
</Layout>
