---
import '@styles/global.css';

import Layout from '@layouts/three-body.astro';
---

<Layout>
  <div class="flex flex-col items-center justify-center h-220">
    <h1 class="text-4xl font-thin font-['Nohemi']">Open Door Go North</h1>
  </div>
</Layout>
