---
import '@styles/global.css';

import {
  getProjectsSummary,
  getPublishedProjects,
  sortEntriesByProjectDates
} from '@/helpers/astro';
import ProjectSummary from '@components/layout/project-summary.astro';
import { createLog } from '@helpers/log';
import Layout from '@layouts/three-body.astro';

const projects = await getPublishedProjects();

const sortedProjects = sortEntriesByProjectDates(projects);

const summaries = getProjectsSummary(sortedProjects);
---

<Layout>
  <section>
    <h1 class="text-4xl text-ring font-['Nohemi'] font-light my-12">
      Projects
    </h1>
    <p class="text-lg text-ring font-['Nohemi'] font-light my-12 leading-10">
      I've worked on a wide range of projects, from mobile apps to web
      applications, and from games to enterprise software. Here are some of the
      ones I'm most proud of.
    </p>
    <ul>
      {
        summaries.map(summary => (
          <li class="mb-8">
            <ProjectSummary summary={summary} />
          </li>
        ))
      }
    </ul>
  </section>
</Layout>
