---
import BaseHead from '@components/layout/base-head.astro';
import Footer from '@components/layout/footer.astro';
import Header from '@components/layout/header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '@constants';
---

<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body><script
    data-goatcounter="https://com-odgn.goatcounter.com/count"
    async
    src="//gc.zgo.at/count.js"></script>
</html>

<style>
  html,
  body {
    width: calc(100% - 2em);
    max-width: 100%;
    margin: 0;
  }
</style>
