---
import { getCollection } from 'astro:content';

import { getNotes, getPosts, sortEntriesByDate } from '@/helpers/astro';
import { ContentTable } from '@components/admin/content-table';
import { NotesTable } from '@components/admin/notes-table';
import Layout from '@layouts/main.astro';

// Only allow access in dev mode
if (!import.meta.env.DEV) {
  return Astro.redirect('/404');
}

// Get all entries from both collections
const notes = sortEntriesByDate(await getNotes());
const posts = sortEntriesByDate(await getPosts());
---

<Layout title="Admin" description="Admin">
  <div class="space-y-8">
    <h1 class="text-2xl font-bold mb-4">Content Collections Admin</h1>

    <div class="space-y-16">
      <section>
        <h2 class="text-xl font-semibold mb-4">Notes Collection</h2>
        <NotesTable client:load entries={notes} />
      </section>

      <section>
        <h2 class="text-xl font-semibold mb-4">Posts Collection</h2>
        <ContentTable client:load entries={posts} type="posts" />
      </section>
    </div>
  </div>
</Layout>
